body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-habit {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
}

.habit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.weekly-view table {
  margin: auto;
  text-align: center;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
/* Media Queries for Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .create-habit-form,
  .habit-list,
  .weekly-view {
    margin: 0 20px;
  }

  .week-table td button {
    width: 25px;
    height: 25px;
    font-size: 1rem;
  }

  .habit-item {
    flex-direction: column;
    text-align: center;
  }

  .habit-actions {
    margin-top: 10px;
    align-items: center;
  }
}

